*{ margin: 0px auto;}
/*nav*/
.nav-main{display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.navigate{
    display:inline-flex;
    list-style-type: none;
    justify-items: space-between;
}

main{max-width: 1100px;}
body{max-width: 1100px;}
/*head*/
.man{
    margin: 47px 230px;
    background-image:url(assets/Hero-bg.png);
    align-content: center;
    justify-content: center;
}
div.man img {
    align-content: center;
    justify-content: center;
}
/*main*/
.why-web-development{
    padding: 80px 97px;
    margin: 74px auto;

}
.pg-two-main-heading{
    margin-bottom: 50px;
    align-content: center;
}
.pg-two-one{
    display: flex;
    gap: 100px;
    padding: 48px;
    margin:15px 0px;
}
.pg-two-two{
    display: flex;
    row-gap: 87px;
}
.pg-two-three{
    display: flex;
    gap: 100px;
}
.part-four{

}
.part-five{
    display: flex;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 111px;
}
.skill-container > img{
    margin-bottom: 24px;

}
.skill-container > h3{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
} 
.link{
    color: black;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom: 8px;
} 


.html{background-color:rgb(255, 244, 246) ;}
.css{background-color: rgb(242, 246, 254);}
.js{background-color: #FFFDF2;}

.next-skills{
    gap: 30px;
}